    <nav id="common-nav" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/images/lab-logo.png" height="30px">
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ site.baseurl }}/">Tervel</a></li>
            <li><a href="{{ site.baseurl }}/docs/install.html">Docs</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/faq.html">FAQ</a></li>
            <li><a href="{{ site.gitrepo }}">Git</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

