{
    'description' : 'This is an example config file',
    'log_git' : True,
    'log_directory' : 'logs/',
    'main_sleep_time' : 1,
    'exe_repetition' :  1,
    'exe_time' : [1],
    'system_name': '64Core',
    # 'papi_flag' : "-papi_events=PAPI_TOT_INS,PAPI_TOT_CYC,PAPI_BR_MSP,INSTRUCTION_CACHE_INVALIDATED,MISALIGNED_ACCESSES",
    'misc_flags' : "",
    'thread_levels' : [2,4,8,16,32,64],
    'disable_thread_join' : True,
    'verbose' : False,
    'exe_prefix' : "likwid-pin -q -c 0,8,1,9,2,10,3,11,4,12,5,13,6,14,7,15,16,24,17,25,18,26,19,27,20,28,21,29,22,30,23,31,32,40,35,38,46,39,47,48,56,49,57,50,58,51,59,52,60,53,61,54,62,55,63",
    'tests' : [
        {
            'name' : 'stack',
            'executables' : ["stack_tervel_wf.x", "stack_tervel_lf.x"],
            'path' : '../executables/version_NA_10000_10000',
            'flags' : {
                'prefill' : ['16384'],
            },
            'dist' : [
                None,
                (lambda t: None if t < 2 else "%d 1 0 %d 0 1" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 0 1 %d 1 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 0 100 %d 100 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 100 0 %d 0 100" %((t*.5), (t*.5))),
                (lambda t: None if t < 1 else "%d 50 50" %(t)),
                (lambda t: None if t < 2 else alt_spawn(t, 1, 1)),
                (lambda t: None if t < 2 else alt_spawn(t, 100, 100)),
                (lambda t: None if t < 4 else "%d 1 0 %d 0 1" %((t*.25), (t*.75))),
                (lambda t: None if t < 4 else "%d 1 0 %d 0 1" %((t*.75), (t*.25))),
                (lambda t: None if t < 1 else "%d 25 75" %(t)),
                (lambda t: None if t < 1 else "%d 75 25" %(t)),
            ]
        },
        {
            'name' : 'buffer',
            'executables' : ["buffer_tervel_wf.x", "buffer_tervel_mcas_lf.x"], #"buffer_tervel_wf.x", "buffer_linux_nb.x", "buffer_tbb_fg.x", "buffer_tsigas_nb.x", "buffer_lock_cg.x", "buffer_tervel_mcas_lf.x", "buffer_naive_cg.x"]
            'path' : '../executables/version_NA_10000_10000',
            'flags' : {
                'prefill' : ['16384'], #, 0, 32768]
                'capacity' : ['32768'],
            },
            'dist' : [
                None,
                (lambda t: None if t < 2 else "%d 1 0 %d 0 1" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 0 1 %d 1 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 0 100 %d 100 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 100 0 %d 0 100" %((t*.5), (t*.5))),
                (lambda t: None if t < 1 else "%d 50 50" %(t)),
                (lambda t: None if t < 2 else alt_spawn(t, 1, 1)),
                (lambda t: None if t < 2 else alt_spawn(t, 100, 100)),
                (lambda t: None if t < 4 else "%d 1 0 %d 0 1" %((t*.25), (t*.75))),
                (lambda t: None if t < 4 else "%d 1 0 %d 0 1" %((t*.75), (t*.25))),
                (lambda t: None if t < 1 else "%d 25 75" %(t)),
                (lambda t: None if t < 1 else "%d 75 25" %(t)),
            ]
        },
        {
            'name' : 'tervel-map',
            'executables' : ["hashmap_nodel_tervel_wf.x", "hashmap_tervel_wf.x"],
            'path' : '../executables/version_NA_10000_10000',
            'flags' : {
                'prefill' : ['0', '16384'], #, 0, 32768]
                'capacity' : ['32768'],
                'expansion_factor' : ['6'],
            },
            'dist' : [
                (lambda t: None if t < 1 else "%d 66 33 0 0" %(t)),
            ]
        }
    ]
}