{
    'description' : 'This is a config file for testing the queue',
    'log_git' : False,
    'log_directory' : 'logs/',
    'main_sleep_time' : 1,
    'exe_repetition' :  5,
    'exe_time' : [5],
    'system_name': '?',
    'misc_flags' : "",
    'thread_levels' : [2,4,8,16,32,64],
    'disable_thread_join' : False,
    'verbose' : False,
    'tests' : [
        {
            'name' : 'queue',
            'executables' : ["queue_tervel_wf.x", "queue_tervel_lf.x"],
            'path' : '../executables/ver_NA_delay_5_lim_5',
            'flags' : {
                'prefill' : ['0', '128', '16384']
            },
            'dist' : [
#                (lambda t: None if t < 2 else "%d 1 0 0 0 %d 0 1 0 0" %((t*.5), (t*.5))),
#                (lambda t: None if t < 2 else "%d 0 1 0 0 %d 1 0 0 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 0 100 0 0 %d 100 0 0 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 2 else "%d 100 0 0 0 %d 0 100 0 0" %((t*.5), (t*.5))),
                (lambda t: None if t < 1 else "%d 50 50 0 0 0 0" %(t)),
#                (lambda t: None if t < 4 else "%d 1 0 0 0 %d 0 1 0 0" %((t*.25), (t*.75))),
#                (lambda t: None if t < 4 else "%d 1 0 0 0 %d 0 1 0 0 " %((t*.75), (t*.25))),
#                (lambda t: None if t < 1 else "%d 25 75 0 0" %(t)),
#                (lambda t: None if t < 1 else "%d 75 25 0 0" %(t)),
            ]
        }
    ]
}